<section>

    <div class="center_info">
        <h2 class="title text-center">Напої</h2>
    </div>


    <ul class="goods">
        <li class="goods_block border_animation" *ngFor="let goods of goodsArr">

            <div [routerLink]="[ '/drinks/'+ goods.id ]" class="goods_image">
                <img [src]="goods.images" class="goodsn_image">
            </div>
            <a [routerLink]="[ '/drinks/'+ goods.id ]" class="goods_title" href="#" itemprop="name">{{goods.name}}</a>

            <div class="goods_desc">
                <p>{{ goods.compound}}</p>
                <p class="goods_weight">{{goods.weight}} г </p>
            </div>
            <div class="goods_controls">
                <p class="goods_price">{{goods.price}} г </p>


                <div class="quantity_goods">
                    <button type="button" class="decrement">-</button>
                    <input value="1" readonly="" class="goods_qty" tabindex="-1" max="999">
                    <button type="button" class="increment">+</button>
                </div>
                <button class="btn btn-small btn-primary order-btn
                    add-to-cart-btn" data-id="32617">Замовити</button>
            </div>
        </li>
    </ul>
</section>