a {
    font-size: 14px;
    line-height: 1em;
    font-weight: bold;
    color: #252525;
}

//стилі хедера
header {
    width: 100vw;
    min-height: 110px;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: space-around;
    background-color: #fff;
    z-index: 2000;
    //длглтип
    .logo {
        width: 12%;
        min-height: 110px;
        display: flex;
        justify-content: center;
        background-color: #b5d8f7;
        cursor: pointer;
        padding: 0 20px;
    }
    //занальний блок меню
    .menu {
        width: 78%;
        min-height: 110px;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        //меню категорій
        ul {
            position: relative;
            display: flex;
            li {
                width: 100px;
                height: 100%;
                a {
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    color: black;
                    list-style: none;
                    text-align: center;
                    img {
                        margin-bottom: 5px;
                    }
                }
            }
        }
        //бургер меню
        .wrap_menu {
            position: relative;
            width: 50px;
            height: 50px;
            z-index: 1;
            .btn {
                position: relative;
                width: 50px;
                height: 48px;
                display: flex;
                flex-direction: column;
                justify-content: space-evenly;
                align-items: center;
                transition-duration: 0.5s;
                border: none;
                z-index: 2;
                .line {
                    transition-duration: 0.5s;
                    height: 4px;
                    width: 30px;
                    background-color: #212121;
                }
                //анімація
                &.active {
                    transition-duration: 0.5s;
                    background: transparent;
                    border: none;
                     :nth-child(1) {
                        transform: rotateZ(45deg) scaleX(1.25) translate(6.5px, 6.5px);
                    }
                     :nth-child(2) {
                        opacity: 0;
                    }
                     :nth-child(3) {
                        transform: rotateZ(-45deg) scaleX(1.25) translate(6px, -6px);
                    }
                }
            }
            .burger_menu {
                opacity: 0;
                visibility: hidden;
                position: absolute;
                z-index: 1;
                left: -20px;
                top: -90px;
                padding: 100px 35px 5px 35px;
                background: #fff;
                border: 2px solid #b5d8f7;
                border-radius: 10px;
                transition: .5s;
                li {
                    min-width: 180px;
                    white-space: nowrap;
                    text-align: left;
                    justify-content: left;
                    a {
                        padding: 12px 0px;
                        text-align: left;
                        align-items: flex-start;
                    }
                    &:hover {
                        border: 0.8px solid #b5d8f7;
                        border-radius: 10px;
                    }
                }
            }
            .activeBurgher {
                opacity: 1;
                visibility: visible;
                top: -30px;
            }
        }
        //зворотній дзвінок
        .call_back {
            height: 50px;
            border: none;
            border-radius: 10px;
            margin-left: 50px;
            background: #b5d8f7;
            &:hover {
                background: none;
                border: 1px solid #b5d8f7;
            }
            span {
                line-height: 1em;
                font-weight: bold;
                font-size: 12px;
                color: #252525;
                vertical-align: middle;
                padding-left: 5px;
            }
        }
        //телефон та години роботи
        .kontact_ibfo {
            text-align: center;
            a {
                font-size: 16px;
            }
            header-work-time {
                font-size: 12px;
                line-height: 1em;
            }
        }
        //користувач
        .header_user {
            width: 50px;
            height: 50px;
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }
    //корзина
    .header_basket {
        width: 10%;
        min-height: 110px;
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 0;
        border: none;
        padding: 0 20px;
        &:before {
            content: '';
            background: #b5d8f7;
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
            height: 100%;
            z-index: -1;
            transition: .35s;
        }
        .count {
            min-width: 22px;
            height: 22px;
            display: flex;
            justify-content: center;
            align-items: center;
            margin: -23px 0 0 -47px;
            position: absolute;
            border-radius: 50%;
            background-color: #fff;
            font-size: 12px;
            color: #252525;
        }
        .summ {
            font-size: 16px;
            margin-left: 15px;
            b {
                font-weight: bold;
                color: #252525;
            }
        }
    }
}

.modal-dialog {
    display: flex;
    width: 100vw;
    margin-top: 110px;
    margin-right: 0;
    .order_list {
        list-style: none;
        padding-left: 0rem;
        margin-bottom: 0;
        .order_good {
            height: 110px;
            display: flex;
            align-items: center;
            border-bottom: 0.5px solid #b5d8f7;
            .img {
                width: 20%;
                height: 100%;
                .image {
                    width: 130px;
                    height: 100%;
                    padding: 0 10px;
                    overflow: hidden;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    img {
                        width: 100%;
                    }
                }
            }
            .name {
                width: 30%;
                height: 100%;
                display: flex;
                align-items: center;
                a {
                    padding-left: 30px;
                }
            }
            .count_price {
                width: 50%;
                height: 100%;
                display: flex;
                justify-content: space-around;
                align-items: center;
                .quantity_goods {
                    height: 40px;
                    display: inline-flex;
                    align-items: center;
                    border: 1px solid #dcdcdc;
                    border-radius: 8px;
                    color: #252525;
                    font-size: 16px;
                    line-height: 16px;
                    .decrement,
                    .increment {
                        width: 18px;
                        margin: 2px;
                        border: none;
                        background: none;
                        font-size: 16px;
                    }
                    .goods_qty {
                        width: 30px;
                        font-weight: 600;
                        text-align: center;
                        border: none;
                    }
                }
                .btn {
                    width: 40px;
                    height: 28px;
                    border: none;
                }
            }
        }
    }
    .modal-footer {
        width: 100%;
        height: 110px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        border: none;
        background-color: #b5d8f7;
        background-image: url("https://firebasestorage.googleapis.com/v0/b/mod6-progect.appspot.com/o/assets%2Ficon%2Fbg-monosushi-logo.svg?alt=media&token=02a30263-a564-4974-953e-ed4c45a4fef5"), url("https://firebasestorage.googleapis.com/v0/b/mod6-progect.appspot.com/o/assets%2Ficon%2Fbg-monosushi-logo.svg?alt=media&token=02a30263-a564-4974-953e-ed4c45a4fef5");
        background-repeat: repeat;
        background-position: 0 0, 190px -52px;
        .summ {
            b {
                font-size: 130%;
            }
        }
        .btn {
            background: #fff;
            transition: .35s;
            text-transform: uppercase;
            font-size: 16px;
            line-height: 20px;
            font-weight: bold;
            padding: 16px 22px;
            border-radius: 10px;
            color: #252525;
            border: 2px solid #fff;
            &:hover {
                background: none;
                ;
            }
        }
    }
}

//анімація рамки
.border_animation {
    border-radius: 5px;
    background-repeat: no-repeat;
    &:hover {
        background-image: linear-gradient(to right, #b5d8f7 100%, #b5d8f7 100%), linear-gradient(to bottom, #b5d8f7 100%, #b5d8f7 100%), linear-gradient(to right, #b5d8f7 100%, #b5d8f7 100%), linear-gradient(to bottom, #BFE2FF 100%, #BFE2FF 100%);
        background-size: 100% 2px, 2px 100%, 100% 2px, 2px 100%;
        background-position: 0 0, 100% 0, 100% 100%, 0 100%;
        animation: anim-border .8s cubic-bezier(0.19, 1, 0.22, 1) 1;
    }
}

@keyframes anim-border {
    0% {
        background-size: 0 2px, 2px 0, 0 2px, 2px 0;
    }
    25% {
        background-size: 100% 2px, 2px 0, 0 2px, 2px 0;
    }
    50% {
        background-size: 100% 2px, 2px 100%, 0 2px, 2px 0;
    }
    75% {
        background-size: 100% 2px, 2px 100%, 100% 2px, 2px 0;
    }
    100% {
        background-size: 100% 2px, 2px 100%, 100% 2px, 2px 100%;
    }
}