<div class="banner">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-xl-10 col-12">
                <div class="left-info">
                    <div class="h2 title light-2">Ми - це доcтавка <b> щастя.
                            Monosushi </b>- Ми любимо коли тобі смачно.</div>
                    <div class="text-lg light">Найсмачніші сушики вже чекають на тебе. Не барись, а обирай свої улюблені позиції і вже скоро вони будуть у тебе!</div>

                    <a href="" class="btn">Детальніше</a>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="after_baner">
    <div class="ab_1 ab">
        <img src="https://firebasestorage.googleapis.com/v0/b/mod6-progect.appspot.com/o/assets%2Ficon%2Fmn-delivery-img.svg?alt=media&token=668c4b7d-a902-4786-8021-350be525b84e" alt="">
        <a href="" class="btn">зони доставки</a>
    </div>
    <div class="ab_2 ab">
        <img src="https://firebasestorage.googleapis.com/v0/b/mod6-progect.appspot.com/o/assets%2Ficon%2Fmono-supermen.svg?alt=media&token=79768cbd-7763-4028-8ecf-1cabdfed12f4" alt="">
        <div class="after-banner-info">Середній час доставки в зеленій зоні Середній час доставки в зеленій зоні <b>00:43:00</b></div>
    </div>
    <div class="ab_3 ab">
        <img src="https://firebasestorage.googleapis.com/v0/b/mod6-progect.appspot.com/o/assets%2Ficon%2Fmono-bonus.svg?alt=media&token=b4126f66-3493-42b5-8e3e-796faec63eb6" alt="">
        <div class="after-banner-info">
            Наш графік роботи Працюємо з <b>11:00</b> до <b>21:30</b> </div>
    </div>
</div>

<!--Товари-->
<section class="goods_section">
    <!--Категорії товарів-->
    <ul class="components_menu">
        <li *ngFor="let component of getArr; let i= index" (click)="onSelectItem(component)" [class.active]="component ==
                activeItem">
            <a class="nav-link">{{component.titel}}</a>
        </li>
    </ul>


    <!--ТОвари-->

    <ul class="goods">
        <li class="goods_block border_animation" *ngFor="let goods of goodsArr">

            <div class="goods_image">
                <img [src]="goods.images" class="goodsn_image">
            </div>
            <a class="goods_title" href="#" itemprop="name">{{goods.name}}</a>

            <div class="goods_desc">
                <p>{{ goods.compound}}</p>
                <p class="goods_weight">{{goods.weight}} г </p>
            </div>
            <div class="goods_controls">
                <p class="goods_price">{{goods.price}} г </p>


                <div class="quantity_goods">
                    <button type="button" class="decrement">-</button>
                    <input value="1" readonly="" class="goods_qty" tabindex="-1" max="999">
                    <button type="button" class="increment">+</button>
                </div>
                <button class="btn btn-small btn-primary order-btn
                    add-to-cart-btn" data-id="32617">Замовити</button>
            </div>
        </li>
    </ul>



</section>