<section>

    <div class="center_info">
        <h2 class="title text-center">Доставка та оплата</h2>
    </div>

    <div class="delivery">
        <div class="delivery_zone">
            <img src="https://firebasestorage.googleapis.com/v0/b/mod6-progect.appspot.com/o/assets%2Ficon%2Fmn-delivery-img.svg?alt=media&token=668c4b7d-a902-4786-8021-350be525b84e" alt="">
            <div class="delivery-info-text text-center">
                <div class="h4 gerrn">Зелена зона</div>
                <div class="text-sm">
                    <p>В межах зеленої зони ми доставляємо протягом <span class="gerrn"><b>1</b>
                            год.</span></p>
                    <p>Мінімальна сума замовлення в цю зону становить <span class="gerrn"><b>200</b>
                            грн</span></p>
                </div>
            </div>
        </div>
        <div class="delivery_zone yellow">
            <img src="https://firebasestorage.googleapis.com/v0/b/mod6-progect.appspot.com/o/assets%2Ficon%2Fmn-delivery-img.svg?alt=media&token=668c4b7d-a902-4786-8021-350be525b84eg" alt="">
            <div class="delivery-info-text text-center">
                <div class="h4 yellow">Жовта зона</div>
                <div class="text-sm">
                    <p>В межах зеленої зони ми доставляємо протягом <span class="yellow"><b>1.5</b>
                            год.</span></p>
                    <p>Мінімальна сума замовлення в цю зону становить <span class="yellow"><b>300</b>
                            грн</span></p>
                </div>
            </div>
        </div>
    </div>

    <div class="delivery_map">
        <iframe src="https://www.google.com/maps/d/embed?mid=1BKJmhhoUqpdwbx3Ycv0PqqlMh_XSTc4&ehbc=2E312F" width="860" height="480"></iframe>
    </div>

    <div class="description">
        <div class="text-md text-center1">
            Команда «Monosushi» пропонує надзвичайно зручну систему доставки та оплати. Чіткість наших стандартів роботи забезпечує швидке і якісне виконання замовлень для наших гостей.<br>
            <br> Ми поділили Львів на умовні зони доставки – зелену та жовту. Для кожної зони ми чітко визначаємо час доставки. <br> Зелена зона доставки знаходиться ближче до нашої кухні, тому замовлення в цю зону доставляються – до 1 год. В жовту зону,
            яка знаходиться значно далі – до 1,5 год. </div>
    </div>

    <h2 class="title text-center">Оплата</h2>

    <div class="payment">
        <div class="pay payment_cash">
            <img src="https://firebasestorage.googleapis.com/v0/b/mod6-progect.appspot.com/o/assets%2Ficon%2Fpay-info-img-3.svg?alt=media&token=5f328c83-81ed-4d49-9f42-5e590bcd8584" alt="">
            <div class="pay-info-text">
                <h5 class="title">Оплата готівкою</h5>
                <div class="text-sm">
                    <p>Розраховуйтесь за свої улюблені сушики готівкою при отриманні.
                    </p>
                </div>
            </div>
        </div>
        <div class="pay cashless_payment">
            <img src="https://firebasestorage.googleapis.com/v0/b/mod6-progect.appspot.com/o/assets%2Ficon%2Fpay-info-img-3.svg?alt=media&token=5f328c83-81ed-4d49-9f42-5e590bcd8584" alt="">
            <div class="pay-info-text">
                <h5 class="title">Безготівкова оплата</h5>
                <div class="text-sm">
                    <p>Розраховуйтесь за свої улюблені сушики онлайн або карткою при отриманні.</p>
                </div>
            </div>
        </div>
    </div>

    <div class="description ">
        Ми пропонуємо Вам 3 найпоширеніші варіанти для розрахунку: готівка, оплата онлайн або ж розрахунок карткою.<br>
        <br> Просто позначте найбільш зручний для Вас спосіб оплати при оформленні замовлення на сайті або ж повідомте про це оператора по телефону.
        <br>
        <br> Доставка «Моносуші» – це чіткі стандарти роботи, високий рівень сервісу та турбота про кожного гостя. Ми щодня розвиваємось, щоб почути лише три слова «Моносуші – це любов». </div>

</section>